{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Print your file</h1>
        <form method=post enctype=multipart/form-data>
            <label for="printers">Select your printer</label>
            <select id="printers" name="printers">
                {% for key, value in devices %}
                    <option value={{ key }}>{{ key }}</option>
                {% endfor %}
            </select>

            <input type=file name=file>
            <input type=submit value=Print>
        </form>
    </div>
{% endblock %}